@import "reset.css";
* {
  box-sizing: border-box;
}

:root {
  --pc-width: 75%;
  --tab-width: 90%;
  --phone-width: 100%;
}

/*Variables*/
body {
  background: rgb(2, 2, 26);
  min-height: 100vh;
  font-family: "Inter", sans-serif;
  animation: move 1s linear infinite forwards;
  color: #ffffff;
}
body::before {
  content: "";
  position: fixed;
  height: 300px;
  width: 300px;
  background: rgb(0, 255, 255);
  filter: blur(140px);
}
body::after {
  content: "";
  position: fixed;
  top: 200px;
  left: 250px;
  height: 300px;
  width: 300px;
  background: rgb(183, 0, 255);
  filter: blur(140px);
}

.bg-circle1 {
  position: fixed;
  top: 0;
  right: 0;
  height: 200px;
  width: 200px;
  background: rgb(0, 255, 255);
  filter: blur(140px);
}

.bg-circle2 {
  position: fixed;
  bottom: 100px;
  right: 250px;
  height: 200px;
  width: 200px;
  background: rgb(183, 0, 255);
  filter: blur(150px);
}

/*#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}*/
.menu {
  position: fixed;
  bottom: 20px;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.navigation {
  position: relative;
  width: 400px;
  height: 70px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.navigation ul {
  display: flex;
  width: 350px;
}
.navigation ul li {
  position: relative;
  width: 70px;
  z-index: 1;
}
.navigation ul li a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  font-weight: 500;
}
.navigation ul li a .icon {
  position: relative;
  display: block;
  line-height: 1.5em;
  text-align: center;
  transition: 0.5s;
}
.navigation ul li a .icon svg {
  width: 32px;
  fill: rgb(172, 17, 233);
}
.navigation ul li a .text {
  position: absolute;
  color: #2c3e50;
  font-weight: 400;
  font-size: 0.75em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  opacity: 0;
  transform: translateY(20px);
}
.navigation ul li.active a .icon {
  transform: translateY(-30px);
}
.navigation ul li.active a .text {
  opacity: 1;
  transform: translateY(10px);
}
.navigation ul li:nth-child(1).active ~ .indicator {
  transform: translateX(0px);
}
.navigation ul li:nth-child(2).active ~ .indicator {
  transform: translateX(70px);
}
.navigation ul li:nth-child(3).active ~ .indicator {
  transform: translateX(140px);
}
.navigation ul li:nth-child(4).active ~ .indicator {
  transform: translateX(210px);
}
.navigation ul li:nth-child(5).active ~ .indicator {
  transform: translateX(280px);
}
.navigation .indicator {
  position: absolute;
  top: -50%;
  width: 70px;
  height: 70px;
  background-color: #29fd53;
  border-radius: 50%;
  border: 6px solid rgb(2, 2, 26);
  transition: 0.5s;
}
.navigation .indicator:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -22px;
  width: 20px;
  height: 20px;
  background: transparent;
  border-top-right-radius: 20px;
  box-shadow: 0 -10px 0 0 rgb(2, 2, 26);
}
.navigation .indicator:after {
  content: "";
  position: absolute;
  top: 50%;
  right: -22px;
  width: 20px;
  height: 20px;
  background: transparent;
  border-top-left-radius: 20px;
  box-shadow: 0 -10px 0 0 rgb(2, 2, 26);
}

/*# sourceMappingURL=styles.css.map */
