@import "reset.css";

* {
  box-sizing: border-box;
  @media screen and (min-width: 768px) {
    cursor: none;
  }
}

/*Variables*/
$pc-width: 75%;
$tab-width: 90%;
$phone-width: 100%;
$color-pri: rgb(82, 188, 250);
$color-pri-light: rgba(82, 188, 250, 0.445);
$color-sec: rgb(172, 17, 233);
$color-sec-light: rgba(172, 17, 233, 0.274);
$color-background: rgb(2, 2, 26);

body {
  background: $color-background;
  height: 100vh;
  width: 100vw;
  font-family: "Inter", sans-serif;
  animation: move 1s linear infinite forwards;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;

  &::before {
    content: "";
    position: fixed;
    height: 300px;
    width: 300px;
    background: rgb(0, 255, 255);
    filter: blur(140px);
    z-index: -1;
  }

  &::after {
    content: "";
    position: fixed;
    top: 200px;
    left: 250px;
    height: 300px;
    width: 300px;
    background: rgb(183, 0, 255);
    filter: blur(140px);
  }
}

.bg-circle1 {
  position: fixed;
  top: 0;
  right: 0;
  height: 200px;
  width: 200px;
  background: rgb(0, 255, 255);
  filter: blur(140px);
}

.bg-circle2 {
  position: fixed;
  bottom: 100px;
  right: 250px;
  height: 200px;
  width: 200px;
  background: rgb(183, 0, 255);
  filter: blur(150px);
}

/*#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}*/
h1 {
  font-size: 5em;
  font-weight: 600;
}

.frame {
  display: flex;
  border: 1px white solid;
  width: 75vw;
  height: 75vh;
  margin: 15px;
  align-items: center;
  justify-content: center;
  box-shadow: #ffffff -10px 10px
}

.container {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: 100vh;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.flex-column {
  flex-direction: column;
}

/*Home page*/
.fill-effect {
  position: relative;
  width: 600px;
  height: 350px;

  h1 {
    text-align: center;
    line-height: 1.3em;
  }

  &.active {
    .fill-effect-fill {
      clip-path: inset(0 0 0 0);
    }
  }

  &:hover {
    .fill-effect-fill {
      clip-path: inset(0 0 100% 0);
    }
  }

  .fill-stroke-effect {
    position: absolute;
    color: rgba(255, 255, 255, 0);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    z-index: 10;
  }

  .fill-effect-fill {
    position: absolute;
    color: white;
    z-index: 1;
    clip-path: inset(0 0 100% 0);
    transition: clip-path 1600ms ease;
  }
}

/*Menu navigation*/
.menu {
  position: fixed;
  bottom: 20px;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.navigation {
  position: relative;
  width: 400px;
  height: 70px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;

  ul {
    display: flex;
    width: 350px;

    li {
      position: relative;
      width: 70px;
      z-index: 1;

      a {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        text-align: center;
        font-weight: 500;

        .icon {
          svg {
            width: 32px;
            fill: $color-sec;
          }

          position: relative;
          display: block;
          line-height: 1.5em;
          text-align: center;
          transition: .5s;
        }

        .text {
          position: absolute;
          color: #2c3e50;
          font-weight: 400;
          font-size: .75em;
          letter-spacing: .05em;
          transition: .5s;
          opacity: 0;
          transform: translateY(20px);
        }
      }
    }

    li.active a {
      .icon {
        transform: translateY(-30px);
      }

      .text {
        opacity: 1;
        transform: translateY(10px);
      }
    }

    li:nth-child(1).active ~ .indicator {
      transform: translateX(calc(70px * 0));
    }

    li:nth-child(2).active ~ .indicator {
      transform: translateX(calc(70px * 1));
    }

    li:nth-child(3).active ~ .indicator {
      transform: translateX(calc(70px * 2));
    }

    li:nth-child(4).active ~ .indicator {
      transform: translateX(calc(70px * 3));
    }

    li:nth-child(5).active ~ .indicator {
      transform: translateX(calc(70px * 4));
    }
  }

  .indicator {
    position: absolute;
    top: -50%;
    width: 70px;
    height: 70px;
    background-color: $color-pri;
    border-radius: 50%;
    border: 6px solid $color-background;
    box-shadow: $color-pri 0 0 10px;
    transition: .5s;

    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: -22px;
      width: 20px;
      height: 20px;
      background: transparent;
      border-top-right-radius: 20px;
      box-shadow: 0 -10px 0 0 $color-background;
    }

    &:after {
      content: '';
      position: absolute;
      top: 50%;
      right: -22px;
      width: 20px;
      height: 20px;
      background: transparent;
      border-top-left-radius: 20px;
      box-shadow: 0 -10px 0 0 $color-background;
    }
  }
}

/*Design cursor*/
@media screen and (min-width: 768px) {
  .cursor {
    background: #ffffff;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    transition: width 300ms ease, height 300ms ease;
    mix-blend-mode: difference;

    &--big {
      width: 25px;
      height: 25px;
    }
  }
}

/*CARD*/
.content-cards {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: $pc-width;

  .card {
    &:hover {

    }

    img {
      width: 150px;
    }

    .card-text {
      // position: absolute;
    }
  }
}

